@model IEnumerable<Casusvictuz.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Alle opkomende evenementen</h1>

<form asp-action="IndexUser" method="get">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Zoek op evenement naam" value="@ViewData["CurrentFilter"]" />
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Zoeken</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Evenement
            </th>
            <th>
                Datum
            </th>
            <th>
                Tijd
            </th>
            <th>
                Afbeelding
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @(item.Date.HasValue ? item.Date.Value.ToString("dd-MM-yyyy") : "N/A")
                </td>
                <td>
                    @(item.Date.HasValue ? item.Date.Value.ToString("HH:mm") : "N/A")
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.UrlLinkPicture))
                    {
                        <img src="@item.UrlLinkPicture" alt="Evenement afbeelding" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>

            <td>
                    <a asp-action="DetailsUser" asp-route-id="@item.Id" class="btn btn-primary">Meer info</a>
            </td>
        </tr>
}
    </tbody>
</table>
